@tailwind utilities;

@layer utilities {
  .body-bg {
    background-color: hsl(217, 54%, 11%);
  }

  .modal-bg {
    background-color: hsl(216, 50%, 16%);
  }

  .line-bg {
    background-color: hsl(215, 32%, 27%);
  }

  .t-white {
    color: hsl(0, 0%, 100%);
  }

  .soft-blue {
    color: hsl(215, 51%, 70%);
  }

  .cyan {
    color: hsl(178, 100%, 50%);
  }

  .font-300 {
    font-weight: 300;
  }

  .font-400 {
    font-weight: 400;
  }

  .font-600 {
    font-weight: 600;
  }
}

.Footer {
    @apply
    grid
    place-items-center
    pt-24
    font-300;
}

.FooterText {
    @apply
    soft-blue
    opacity-80;
}

.FooterLink {
    @apply
    cyan
    underline
    opacity-80;
}

.FooterLink:hover {
    @apply
    no-underline;
}