@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.google.com/specimen/Outfit);

@layer utilities {
  .body-bg {
    background-color: hsl(217, 54%, 11%);
  }

  .card-bg {
    background-color: hsl(216, 50%, 16%);
  }

  .line-bg {
    background-color: hsl(215, 32%, 27%);
  }

  .white {
    color: hsl(0, 0%, 100%);
  }

  .soft-blue {
    color: hsl(215, 51%, 70%);
  }

  .cyan {
    color: hsl(178, 100%, 50%);
  }

  .font-300 {
    font-weight: 300;
  }

  .font-400 {
    font-weight: 400;
  }

  .font-600 {
    font-weight: 600;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  line-height: 1.5;;
}